:host ::ng-deep {
  .p-datatable {
    .p-datatable-thead > tr > th {
      background: var(--surface-section);
      font-weight: 600;
    }
  }
  
  .cursor-pointer {
    cursor: pointer;
    
    &:hover {
      opacity: 0.7;
    }
  }
}